*{
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  color: #252525;
  font-size: 25px; 
  font-family: sans-serif;
}

h1 {
  margin: 40px;
}

.languages {
  height: 500px;
  width: 500px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;  
}

.languages-language { 
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  background-color: blanchedalmond;
  border: 1px solid #222;
  margin: 2px;
}

.languages-language button {
  color: green;
  background-color: #0000;
  border: none;
  font-size: 30px;
  outline: none;
  cursor: pointer;
}